/* * {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: helvetica;
    color: black;
  } */
  
  h1 {
      text-align:center;
    color: chartreuse;
  }
  li {
      color:yellow;
  }
  #name{
      color:blue;
  }
  #color{
      color: chocolate;
  }
  #age{
      color: chartreuse;
  }
  #state{
      color: red;
  }
  body {
      background-color: darkgoldenrod;
      /* background-image: url(https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/4417/s300/cf-logo-shield.png) */
  }
  p {
        /* text-align: center; */
        color: green;
  }

  div {
    padding-top: 20px;
    padding-left: 600px;
    padding-right: 20px;
    padding-bottom: 100px;
    /* background-color: turquoise; */
}
footer {
    position: absolute;
    width:100%;
    bottom:0;
    /* background: #6cf; */
}